---
http_interactions:
- request:
    method: get
    uri: https://api.bunny.net/dnszone
    body:
      encoding: US-ASCII
      string: ''
    headers:
      AccessKey:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      cdn-pullzone:
      - '308006'
      cdn-uid:
      - 3a60ca70-b89d-4cd5-a4b5-34a3468d7e0f
      cdn-requestcountrycode:
      - GB
      backend:
      - '1'
      cdn-proxyver:
      - '1.04'
      cdn-requestpullsuccess:
      - 'True'
      cdn-requestpullcode:
      - '200'
      cdn-cachedat:
      - 06/10/2024 17:04:04
      cdn-edgestorageid:
      - '886'
      cdn-status:
      - '200'
      cdn-requestid:
      - 07464cafe3913f762738ceebcac5d017
      cdn-cache:
      - BYPASS
    body:
      encoding: UTF-8
      string: '{"Items":[{"Id":217249,"Domain":"deanpcmad.test","Records":[],"DateModified":"2024-06-10T17:02:13","DateCreated":"2024-06-10T17:02:13","NameserversDetected":true,"CustomNameserversEnabled":false,"Nameserver1":"kiki.bunny.net","Nameserver2":"coco.bunny.net","SoaEmail":"hostmaster@bunny.net","NameserversNextCheck":"2024-06-10T17:07:13","LoggingEnabled":false,"LoggingIPAnonymizationEnabled":true,"LogAnonymizationType":0},{"Id":217242,"Domain":"deanpmad.dev","Records":[],"DateModified":"2024-06-10T16:49:59","DateCreated":"2024-06-10T16:49:33","NameserversDetected":true,"CustomNameserversEnabled":false,"Nameserver1":"kiki.bunny.net","Nameserver2":"coco.bunny.net","SoaEmail":"hostmaster@bunny.net","NameserversNextCheck":"2024-06-10T16:54:33","LoggingEnabled":false,"LoggingIPAnonymizationEnabled":true,"LogAnonymizationType":0}],"CurrentPage":1,"TotalItems":2,"HasMoreItems":false}'
  recorded_at: Mon, 10 Jun 2024 17:04:05 GMT
recorded_with: VCR 6.2.0
